<script src="{{ (resources.Get "js/jquery.min.js").RelPermalink }}"></script>
<script src="{{ (resources.Get "js/jquery.dropotron.min.js").RelPermalink }}"></script>
<script src="{{ (resources.Get "js/browser.min.js").RelPermalink }}"></script>
<script src="{{ (resources.Get "js/breakpoints.min.js").RelPermalink }}"></script>
<script src="{{ (resources.Get "js/util.js").RelPermalink }}"></script>
<script src="{{ (resources.Get "js/main.js").RelPermalink }}"></script>

<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script> -->

<!-- <script src="{{ (resources.Get "js/isotope.pkgd.min.js").RelPermalink }}"></script> -->
<!-- <script src="{{ (resources.Get "js/jquery.min.js").RelPermalink }}"></script> -->
<!-- <script src="{{ (resources.Get "js/isotope.pkgd.min.js").RelPermalink }}"></script> -->

<!-- <script> -->
<!--   // Initialize Isotope -->
<!--   $(document).ready(function() { -->
<!--     var $grid = $('#grid-container').isotope({ -->
<!--       itemSelector: '.item', -->
<!--       layoutMode: 'fitRows' -->
<!--     }); -->

<!--     // Filter items on button click -->
<!--     $('.filter-button-group a').click(function() { -->
<!--       var filterValue = $(this).attr('data-filter'); -->
<!--       $grid.isotope({ filter: filterValue }); -->
<!--       return false; -->
<!--     }); -->
<!--   }); -->
<!-- </script> -->
